/* ============
    FONTS
   ============ */

@font-face {
    font-family: ThinDesign;
    src: url(../fonts/Thin_Design.ttf);
}

@font-face {
    font-family: GeoSansLight;
    src: url(../fonts/GeosansLight.ttf);
}

@font-face {
    font-family: Existence-Light;
    src: url(../fonts/Existence-Light.ttf);
}

@font-face {
    font-family: Biko;
    src: url(../fonts/Biko_Regular.otf);
}


img.alignright { float: right; margin: 0 0 0em 1em; }
img.alignleft { float: left; margin: 0 2.8em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.text { float: left;  width: 300px; margin: 0 2.8em 1em 0;  }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

html {
    color: #333;
    font-size: 1em;
    line-height: 1.4;
}

.footer-container {
    text-align: center;
    padding: 10px 0 10px 0;
    color: #fff;
}

.footer-container a {
    color: #fff; 
}

.footer-container h3 {
    padding-left: 40px;
    margin-bottom: -16px;
}

.footer-container li {
    display: inline-block; 
    list-style-type: none;
    padding: 0 5px 0px 5px;
} 


html a {
    color: #ce1a2b;
    font-size: 1em;
    line-height: 1.4;
    text-decoration: none;
 }

html a:hover {
    color: #ce1a2b;

}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#author {
    font-style: italic;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#win {
    border-color: #d4af37;
    box-shadow: 0 5px 10px #d4af37;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

#logo {
    margin-top: 10px;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.wpcf7-submit {
    background: #ce1a2b;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: white;
    padding: 6px 15px 6px 15px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    transition: all 0.7s ease 0s;
}

#searchsubmit {
    background: #ce1a2b;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: white;
    padding: 6px 15px 6px 15px;
    border-radius: 0 20px 20px 0;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    transition: all 0.7s ease 0s;
    
}
#s {
    background: #ce1a2b;
    border: 0 none;
    font:  12px Arial,Helvetica,Sans-serif;
    color: white;
    width: 100px;
    padding: 6px 15px 6px 35px;  
    border-radius: 20px 0 0 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    transition: all 0.7s ease 0s;
}

#s:focus {
    width: 150px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }

.screen-reader-text {
    color: #ce1a2b;
}

/* ===================
    ALL: Theme
   =================== */

.header-container {
    position: relative;
    border-bottom: 5px solid #ce1a2b;
}

.man {
    background: #2B2B2B;
}


.footer-container,
.main aside {
    border-top: 5px solid #ce1a2b;
    box-shadow: 0 5px 10px #000;
    
}

.main article {
    -webkit-box-shadow: 0 5px 10px #000;
    -moz-box-shadow: 0 5px 10px #000;
    box-shadow: 0 5px 10px #000;
    background-color: rgba(242, 243, 244, 0.95);
    color: #2B2B2B;
}

.header-container,
.footer-container,
.main aside {
    background-color: #333;
}

.footer-container .footer-menu ul li a{
    color: #2B2B2B;
}

.title {
    color: #2B2B2B;
    font-size: 3rem;
    width: 100%;
    text-align: center;
    font-family: trek;
}

#menu-footer {
    width: 100%;
    text-align: center;
    clear: both;
    list-style-type: none;
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-decoration: none;
    font-weight: bold;

    color: #2B2B2B;
}

#menu-footer a {
    color: #2B2B2B;
    text-decoration: none;
    transition: color 0.5s ease;
}

#menu-footer a:hover {
    color: #ce1a2b;
}


/* ==============
    MOBILE: Menu
   ============== */



nav {
    text-align: center;
    clear: both;
    width: 100%;
    display: inline;
}

nav ul {
    margin-left: 9rem;
    padding: 0;
    list-style-type: none;
    width: 100%;

}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: #fff;
}


nav a:hover {
    color: #ce1a2b;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article {
    border: solid 5px #2B2B2B;
    padding: 10px;
}
.main article h1 {
    font-size: 3em;
    font-style: regular;
}

.main aside {
    color: #fff;
    padding: 0 2% 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-container footer {
    color: #2B2B2B;
    padding: 20px 0; 
    
    text-align: center;
}

.logosettings {
    float: left;
    display: inline-block;
    margin-top: 20px;
    height: auto;
    width: 8rem;
}

.header-container {
    background: #333;
}

.pagetitle {
    color: rgb(242, 243, 244);
    font-size: 3rem;
    width: 100%;
    float: right;
    font-family: Existence-Light;
}

.pagetitle_article {
    color: #ce1a2b;
    font-size: 2rem;
    width: 100%;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 0px) {
    .header-container{
        text-align: center;
    }

    .main article {
        margin-top: 5rem;
    }

    .title {
        font-size: xx-large;
    }

    .main aside {
        margin-top: 1rem;
        padding-top: 1rem;
    }

    .main article h1 {
        line-height: 4rem;
    }
}

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    .header-container{
        text-align: center;
    }

    nav a {
        float: left;
        margin: 0 1.7%;
        text-decoration: none;
        transition: color 0.5s ease;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
    .main article {
        margin-top: 5rem;
    }


    .title {
        font-size: 3rem;
    }

}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */


    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #000;
           -moz-box-shadow: 0 5px 10px #000;
                box-shadow: 0 5px 10px #000;
    }

    .main article {
        -webkit-box-shadow: 0 5px 10px #000;
        -moz-box-shadow: 0 5px 10px #000;
        box-shadow: 0 5px 10px #000;
        background-color: rgba(242, 243, 244, 0.95);
        color: #2B2B2B;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 8px;
        margin-top: 0rem;
    }


    .header-container{
        text-align: center;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
        margin-top: 2rem;
    }

    nav {
        width: 100%;
        text-align: center;
    }

    .main aside {
        border-radius: 8px;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 62%;

    margin-top: 18px;
    }

    .main aside {
        float: left;
        width: 20%;
    }
}

@media only screen and (min)

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.fixed {
    position: absolute;
    margin-left: 65%;
}
